# 设置用于发包的 NPM 私服地址
@study:registry=http://rnpm.hz.netease.com/

# 自动下载缺失的 peerDeps
# auto-install-peers=true

# peerDeps 缺失时执行命令不报错
strict-peer-dependencies=false

# PNPM 默认不会执行自定义 pre/post 脚本
enable-pre-post-scripts=true

# 设置子模块互相引用的 Workspace Protocol 为 `workspace:*`
# 注意此配置需要配合 `save-prefix` 配置
save-workspace-protocol=rolling

# PNPM 安装依赖默认锁定前缀为 `^`，即允许小版本和补丁版本升级
# 本地开发由于有 lockfile 不存在升级问题
# 而业务工程安装 NPM 包不会按照 lockfile 规则锁定依赖版本
# 这里锁定直接依赖版本有助于提升工程质量
save-prefix=""
