# 设置用于发包的 NPM 私服地址
@study:registry=http://rnpm.hz.netease.com/

# 自动下载缺失的 peerDeps
# auto-install-peers=true

# peerDeps 缺失时执行命令不报错
strict-peer-dependencies=false

# PNPM 默认不会执行自定义 pre/post 脚本
enable-pre-post-scripts=true
